{%  extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <form action="{% url 'vaga:pesquisar_vagas' %}" method="post">
        {% csrf_token %}
        <div class="col-md-3 pull-right">
            <input class="form-control" type="text" name="pesquisar" placeholder="Pesquisar">&nbsp;
        </div>
        <div class="col-md-1 pull-right">
            <button class="btn btn-default">Pesquisar</button>
        </div>
    </form>
</div>


    {% if  not vagas %}

        <br>
        
        <div class="alert alert-warning center-block">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Nenhuma vaga Encontrada</strong> Por favor tente outro termo para pesquisa ...
        </div>
        
    {% else %}
    <div class="row fix">
        {%for vaga in vagas%}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{% static "vaga/img/vagas.jpg" %}" alt="">
                    <div class="caption">
                        <h4 class="text-center">{{vaga.nome}}</h4>
                        <p>
                            <strong>Escolaridade: </strong> {{vaga.get_escolaridade_display}}
                        </p>
                        <p>
                            {% if not user.user_type == 'E' %}
                            <a href="{% url 'vaga:candidatar' vaga_id=vaga.id %}" class="btn btn-primary form-control">Candidatar-se</a>
                            {%else%}
                            <div class="text-center">Apenas para candidatos!</div>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <nav aria-label="...">
                <ul class="pager">
                    {% if vagas.has_previous %}
                        <li><a href="?termo={{termo}}&page={{ vagas.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                    {% if vagas.has_next %}
                        <li><a href="?termo={{termo}}&page={{ vagas.next_page_number }}">Próximo</a></li>
                    {% endif %}
                </ul>
            </nav>
            <span class="current">
                Página{{ vagas.number }} de {{ vagas.paginator.num_pages }}.
            </span>

        </div>
    </div>

    {% endif %}

    

{% endblock content %}